mixin ContactShort(title)
	+Section&attributes(attributes)#contact
		if title
			.row
				.col.text-center.mb-4(data-zanim-timeline!={} data-zanim-trigger="scroll")
					.overflow-hidden
						h2.fs-md-5(data-zanim-xs!={'duration': 1.5, 'delay': 0})=title
					.overflow-hidden
						p.fs--1.text-uppercase.text-black.ls-1.mb-0(data-zanim-xs!={'duration': 1.5, 'delay': 0.1}) we are happy to listen from you anytime
					.overflow-hidden
						hr.hr-short.border-black(data-zanim-xs!={'duration': 1.5, 'delay': 0.2})
		.row.justify-content-center
			.col-lg-12.mb-5.mb-lg-0.d-flex.flex-column.justify-content-between
				.row.justify-content-center
					.col-12
						h5.mb-3.text-center 
					.col-8.mb-4.mb-sm-0(style="width: 380px")
						.row.justify-content-center
							.col-1
								span.fas.fa-location-arrow.text-700
							.col.px-2
								p.mb-1.text-700
									strong #{name} Office
								p.mb-0.text-600
									| Karola Szymanowskiego 12/29
									br
									| 80-280, Gdańsk, Poland
					.col-auto.mb-2.mb-sm-0(style="width: 205px")
						.row.mb-2.mb-sm-1.justify-content-center
							.col-1
								span.fas.fa-phone.me-2.text-700 
							.col.px-2
								a(href="tel:+48514484319").text-600 +48 514 484 319
						.row.justify-content-center
							.col-1
								span.fas.fa-envelope.me-2.text-700
							.col.px-2
								a(href="mailto:contact@semtic.ai").text-600 contact@semtic.ai

				//- .googlemap.rounded.data-map.mt-4(data-latlng='48.8583701,2.2922873,17' data-scrollwheel='false' data-icon=`${CWD}assets/img/map-marker.png` data-zoom='17' data-theme='Default' style="min-height: 14.63rem;")
				//- 	.marker-content.py-3
				//- 		h5 Eiffel Tower
				//- 		p
				//- 			| Gustave Eiffel's iconic, wrought-iron 1889 tower,
				//- 			br
				//- 			|  with steps and elevators to observation decks.

